{% set network_base = "192.168.1"~id~".0/24" %}
{% set lan = network_base|ipsubnet(25,0) %}
{% set base_lan = network_base|ipsubnet(25,1) %}
{% set voice_lan = base_lan|ipsubnet(26,0) %}
{% set atm_lan = base_lan|ipsubnet(26,1) %}
{% set loop_base = "172.16.16."~id~"/32" %}
{% set loop1 = loop_base|ipaddr %}


router ospf 1
  router-id {{ loop1|ipaddr('address') }}
  log-adjacency-changes

interface lo1{{id}}
 description LAN
 ip address {{ lan|ipaddr(1)|ipaddr('address') }} {{ lan|ipaddr('netmask') }}
 ip ospf 1 area 1

{% set voice_id = id|int + "1"|int %}
interface lo1{{voice_id}}
 description Voice LAN
 ip address {{ voice_lan|ipaddr(1)|ipaddr('address') }} {{ voice_lan|ipaddr('netmask') }}
 ip ospf 1 area 1

{% set atm_id = id|int + "2"|int %}
interface lo1{{atm_id}}
 description ATM LAN
 ip address {{ atm_lan|ipaddr(1)|ipaddr('address') }} {{ atm_lan|ipaddr('netmask') }}
 ip ospf 1 area 1

interface loop1
 ip ospf 1 area 1

{% set base_asn = "65100" %}
{% set asn = base_asn|int + id|int %}
router bgp {{asn}}
 address-family ipv4
  redistribute ospf 1
