###
#  Model transformation to validate fabric
###
{% macro conf_link(name, index, is_left, peer) -%}
{% set network = "{}{}/24".format(fabric_link_prefix, index) %}
{% set peer_ip = network|ipaddr(2) if is_left else network|ipaddr(1) %}
{% set peer_asn = base_asn|int + hostvars[peer]['id']|int %}


      "{{ peer_ip|ipaddr('address') }}":
        remote_as: "{{ peer_asn }}"
        interface: "{{name}}"
{%- endmacro %}
{% set rtr_id_base = "172.16.16."~id~"/32" %}
{% set rtr_id = rtr_id_base|ipaddr %}
{% set asn = base_asn|int + id|int %}
---

nodes:
  {{ inventory_hostname }}:
    router_id: "{{ rtr_id }}"
    asn: "{{ asn }}"
    neighbors:
{% for link in fabric %}
{% set right_port = 'eth0/1' if hostvars[link.left]['id'] == "1" else 'eth0/2' %}
{% if inventory_hostname == link.left %}
{{ conf_link(link.left_port, link.link_id, true, link.right) }}
{% elif inventory_hostname == link.right %}
{{ conf_link(right_port, link.link_id, false, link.left) }}
{% endif %}
{% endfor %}
